{% extends 'base.html.twig' %}

{% block title %}Videos{% endblock %}

{% block body %}
    <form>
        <h1>Videos</h1><br>
        <legend>{{ video.titre }}</legend><br>
        <iframe width="520px" height="360px" src="{{ video.videos | raw}}" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
        <label style="text-decoration: underline">Description : </label><br>
        {{ video.description | raw }}<br><br>
        <nav>
            <ul>
                <li><a href="{{ path('videos_index') }}">Retour</a></li>
                {% if is_granted ('ROLE_ADMIN') %}
                    <li><a href="{{ path('videos_edit', {'id': video.id}) }}">Modifier</a></li>
                {% endif %}
            </ul>
        </nav>
        {% if is_granted ('ROLE_ADMIN') %}
            {{ include('videos/_delete_form.html.twig') }}
        {% endif %}
    </form>


{% endblock %}
