{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css"/>
{% endblock %}

{% block body %}

    <form>
        <h1>Article</h1>
        <legend>{{ article.titre }}</legend>
        <label>Ecrit le :  {{ article.date ? article.date|date('Y-m-d') : '' }}</label><br>

        <img src="{{ asset('thumbnail/' ~ article.thumbnail) }}" width="30%" alt="Charge pas"><br>
        <label style="text-decoration: underline">Description : </label><br>
        {{ article.description | raw }}<br><br>
        <nav>
            <ul>
                <li><a href="{{ path('article_index') }}">Retour</a></li>
                {% if is_granted ('ROLE_ADMIN') %}
                <li><a href="{{ path('article_edit', {'id': article.id}) }}">Modifier</a></li>{
                {% endif%}
            </ul>
        </nav>
    </form>
        <br>
    {% if is_granted ('ROLE_ADMIN') %}
        {{ include('article/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
